node_modules
dist
dist-ssr
server/database.db
server/database.db-shm
server/database.db-wal
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Logs
logs
*.log
npm-debug.log*

# Arquivos com dados sensíveis
server/users.json
server/produtos.json
server/vendas.json